<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poney.blogdemo">

    <uses-feature android:name="android.hardware.camera.any" /> <!-- 录制音频权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mediacodecdemo.play.MediaCodecAVActivity" />
        <activity android:name=".ffplaydemo.FFAVPlayerActivity" />
        <activity android:name=".ffplaydemo.FFPlayActivity" />
        <activity android:name=".demo2.H264AACMediaCodecActivity" />
        <activity
            android:name=".demo1.DemoActivity"
            android:label="GLSurfaceView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo1.EGLDemoActivity"
            android:label="EGLNative" />
        <activity android:name=".demo2.Mp4MediaCodecActivity" />
        <activity android:name=".demo2.H264AACFFMpegActivity" />
        <activity android:name=".demo2.H264AsyncMediaCodecActivity" />
        <activity android:name=".mediacodecdemo.play.MediaCodecAVSyncActivity" />
    </application>

</manifest>